@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*   {
    margin: 0;
    padding: 0;
    border: none;
}

body    {
    font-family: 'Righteous', cursive;
    background-color: #393E46;
    color: #00ABB3;
}

h1, h2  {
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 40px;
}

h3  {
    text-align: center;
}

p   {
    background-color: #20262E;
    box-sizing: border-box;
    display: inline-flex;
    height: 50px;
    width: 200px;
    font-size: 50px;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

button  {
    background-color: #20262E;
    color: #D9ACF5;
}



