@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*   {
    margin: 0;
    padding: 0;
    border: none;
}

body    {
    font-family: 'Righteous', cursive;
    background-color: #393E46;
    color: #7DB9B6;
    text-align: center;
}

h1  {
    font-family: 'Shadows Into Light', cursive;
}

h1, h2  {
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 40px;
}

h3  {
    padding-bottom: 2rem;
}

p   {
    background-color: #0A2647;
    box-sizing: border-box;
    border: 1px solid black;
    display: inline-flex;
    height: 50px;
    width: 200px;
    font-size: 50px;
    margin: 0;
    align-items: center;
    justify-content: center;
}

hr  {
    background: solid black 1px
}


button  {
    background-color: #84D2C5;
    color: #434242;
    border: 1px solid black;
    border-radius: 40px;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}


.goal   {
    text-transform: uppercase;
}

.missed {
    text-transform: uppercase;
}

button  {
    font-size: 15px;
    margin: auto;
    padding: 1.5rem;
}

.score-area {
    padding-bottom: 1rem;
}

.play-button    {
    padding-bottom: 3rem;
}

#game-area  {
    padding-bottom: 3rem;
}

.top-left   {
    float: left;
}

.top-right   {
    float: right;
}

img {
    max-width: 98%;
    height: auto;
  }

  @media screen and (min-width: 1150px) {
    img {
        max-width: 60%;
        height: auto;
      }
  }





